

main {
  align-items: center;
  justify-content: center;
  

width: 80%;
  max-width: 65em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 2em;

  background: white;
  -webkit-box-shadow: 0 0px 100px rgba(0, 10, 123, 0.5);
}

body {
  background: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
}